{% extends 'layout/layout.twig' %}

{% block title %}Celestial Atlases{% endblock %}

{% block description %}
    Here you will find colorful sky maps covering a period of almost a thousand years,
    as well as Wikipedia links for some atlases and authors.
{% endblock %}

{% block main %}
<main class="container-90sm-80lg">
<ul class="fluid-2sm-3lg-4wd">
    {% for map in maps %}
        <li>
            <a class="btn-navy cursor-cross"
               href="{{ url('atlas!read', {'id': map.atlas_id}) }}"
               title="Watch the Atlas : {{ map.atlas_name }} made in {{ map.year }}">
                <figure class="button-navy">
                    <img src="img/thumbnails/tn_{{ map.map_name }}.jpg" alt="Chart of {{ map.atlas_name }}">
                    <figcaption>{{ map.atlas_name|replace({'-': ' '})|title }}<br>({{ map.year }})</figcaption>
                </figure>
            </a>
        </li>
    {% endfor %}
</ul>
</main>
{% endblock %}
